<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First Name: </label>
    <input id="firstName" type="text" formControlName="firstName">

    <label for="lastName">Last Name:</label>
    <input id="lastName" type="text" formControlName="lastName">

    <button type="submit">Submit</button>
</form>

<p>First Name field value: {{ profileForm.controls.firstName.value }}</p>
<p>Last Name field value: {{ profileForm.value.lastName }}</p>

<button (click)="updateName()">update name</button>